%html
  %head
    %title STATUS
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "/javascripts/jquery.jeditable.mini.js"}
    %script{:src => "/javascripts/ripcord.js"}
    
  %body
    = yield