%html
  :plain
    <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
    <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

  %head
    %meta{:charset => "utf-8"}
    
    %title STATUS
    
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1,maximum-scale=1"}
    %link{:rel => "stylesheet", :href => "/stylesheets/base.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/skeleton.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/layout.css"}
    %link{:rel => "stylesheet", :href => "/stylesheets/ripcord.css"}
    
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    %script{:src => "/javascripts/jquery.jeditable.mini.js"}
    %script{:src => "/javascripts/ripcord.js"}
    
  %body
    %div.container.five.columns
      %div.offset-by-five
        = yield